/* ======================================================================================================================================================================================================================================== */
/* Typography Constants */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

/* ======================================================================================================================================================================================================================================== */
/* ALL CSS FOR FULL WEBSITE PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  background: linear-gradient(
    to top,
    rgba(248, 142, 151, 0.534),
    rgba(168, 168, 243, 0.534),
    rgba(156, 243, 214, 0.452)
  );
}

ul {
  list-style-type: none; /* Removes bullets from unordered lists */
}

.heart {
  display: flex; /* Make the list a flex container */
  flex-direction: column; /* Set the direction to column */
  justify-content: center;
  align-items: center;
}

/* ======================================================================================================================================================================================================================================== */
/* ALL CSS FOR SOLUTIONS' PAGE */
.features_list {
  margin: 2rem;
  justify-self: center;
  align-self: center;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.content_body {
  margin: 1rem;
  display: flex;
  background: linear-gradient(to top, aquamarine, rgb(128, 112, 252));
  width: 35.5rem;
  height: 20rem;
  border-radius: 3rem;
  border: 10px solid white;
}

.content_card {
  flex: 1; /* Make each item take up equal width */
  padding: 2rem;
  margin-left: 2rem;
}

.content_info {
  padding: 2rem;
  color: white;
  justify-content: left;
  align-items: left;
}

.content_info .title {
  color: rgb(232, 231, 252);
  justify-content: left;
  align-items: left;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.content_info .text {
  color: rgb(255, 255, 255);
  justify-content: left;
  align-items: left;
  width: 20rem;
}

/* ======================================================================================================================================================================================================================================== */
/* ALL CSS FOR FOOTER PAGE */
.content_image_container,
.footer_graphic {
  background: linear-gradient(to bottom, aquamarine, rgb(128, 112, 252));

  border-radius: 2rem;
  border: 10px solid white;
  width: 15rem; /* Ensure the image doesn't exceed its original width */
  height: 15rem; /* Allow the height to adjust based on the image's aspect ratio */

  object-fit: cover; /* Scale the image to cover the entire container without squishing */
  object-position: center; /* Center the image within the container */
}

.footer {
  display: flex;
  background: linear-gradient(to top, rgb(241, 162, 172), rgb(164, 164, 245));
  border-radius: 2rem;
  width: auto + 2rem;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.footer_card {
  display: flex; /* Make the list a flex container */
  flex-direction: column; /* Set the direction to column */
  margin: 1.25rem;
  background: white;
  border-radius: 2rem;
  padding: 0.5rem;
}

.footer_button_container {
  padding-bottom: 0.7rem;
  text-align: center;
}

.footer_redirect {
  padding: 0.5rem 0.5rem;
  font-size: 16px;
  font-weight: 600;

  width: 13rem;
  height: auto;
  border-radius: 3rem;
  color: rgb(78, 73, 206);
  font-weight: 2000;
  border: 5px solid rgb(78, 73, 206);
  background: white;
}

/* ======================================================================================================================================================================================================================================== */
/* ALL CSS FOR HEADER PAGE */
.header_nav_bar_horizontal {
  padding: 2rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul li {
  list-style: none;
  margin-left: 20px;
}

.header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  font-weight: 1000;
  border-radius: 10px;
  font-size: 1.25rem;
}

.header ul li a:hover {
  background-color: rgb(255, 80, 118);
  color: white;
  transition: 100ms ease-in;
}

.header ul li a.active {
  background-color: white;
  color: rgb(255, 80, 118);
}

.header .nav_bar {
  display: flex;
  background: rgb(78, 73, 206);
  border-radius: 20px;
  padding: 1rem 2rem 1rem 2rem;
  margin-left: auto;
  height: 4rem;
}

#logo {
  width: 6rem;
  height: 6rem;
  border-radius: 25px;
  border: 5px solid white;
}

/* ======================================================================================================================================================================================================================================== */
/* ALL CSS FOR FEATURES PAGE */
.fearures-desc {
  width: 100rem;
  height: 100vh;
  color: --accent-color;
  list-style: none;
  padding: 0;
  margin: 0;
}
.features-view {
  width: 40rem;
  height: 100vh;
  align-items: center;
  background-color: lightcoral;
  size: 100px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

/* ======================================================================================================================================================================================================================================== */
/* ALL CSS FOR ABOUT PAGE */

/* ======================================================================================================================================================================================================================================== */
/* ALL CSS FOR HOME PAGE */

/* ======================================================================================================================================================================================================================================== */
/* ALL CSS FOR LOGIN/SIGNUP PAGE */

/* ======================================================================================================================================================================================================================================== */
/* ALL CSS FOR WEBAPP PAGE */
