/* Color Constants */
:root {
  --main-color-1: #6096b4;
  --main-color-2: #93bfcf;
  --main-color-3: #bdcdd6;
  --text-color: #6096b4;
  --background-color: #eee9da;
  --accent-color: #f69e7b;
  --hover-accent-color: #d2e9e9;
  --hover-accent-text-color: #54259;
}

/* Typography Constants */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

/* Body Styles */
body {
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  background-color: var(--accent-color);
  display: flex;
  margin: 0;
  padding: 0;
}

/* Title Styles */
h1 {
  font-family: "Montserrat", sans-serif;
}

/* Paragraph Styles */
p {
  font-family: "Raleway", sans-serif;
}

/* Subparagraph Styles */
.subparagraph {
  font-family: "JetBrains Mono", monospace;
}

/* Accent Styles */
.accent {
  color: var(--accent-color);
}

/* Hover Styles */
.hover-accent {
  color: var(--hover-accent-text-color);
}

.hover-accent:hover {
  background-color: var(--hover-accent-color);
}

/* ALL CSS FOR USER WEB APP */
.navigation {
  width: 9rem;
  height: 100vh;
  color: --accent-color;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-buttons {
  width: 5rem;
  height: 5rem;
  padding: 20;
  margin-top: 1.25rem;
  background-color: var(--main-color-2);
  border-radius: 50px;
  border-color: lightblue;
  border-width: 0.25rem;
}

#feature-icon {
  align-self: center;
  padding-top: 0.25rem;
  font-size: 2.5rem;
  color: whitesmoke;
}

.features,
.account_options {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
  size: 100px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

.analytical-widgets,
.receipt-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: lightcoral;
  size: 100px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

.widget,
.receipt-token {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--main-color-2);
  size: 100px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

.widget-name,
.widget-advanced-view-button {
  background-color: aliceblue;
  border-radius: 0.65rem;
  padding: 0.5rem;
}

.widget-graphic {
  size: 100px;
  width: 18rem;
  height: 2rem + width;
  border-radius: 1.5rem;
}

/* ALL CSS FOR FEATURES PAGE */
.fearures-desc {
  width: 100rem;
  height: 100vh;
  color: --accent-color;
  list-style: none;
  padding: 0;
  margin: 0;
}
.features-view {
  width: 40rem;
  height: 100vh;
  align-items: center;
  background-color: lightcoral;
  size: 100px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

/* ALL CSS FOR TEAMS PAGE */
.full-team-list {
  display: flex;
  flex-flow: row;
}

.member {
  align-self: auto;
  margin: 1rem;
  background-color: #d2e9e9;
  border-radius: 10px 50px;
  padding: 1rem;
}

.pfp {
  width: 10rem;
  height: 10rem;
  border-radius: 20%;
  margin: 1rem;
}

.social-media-list {
  display: flex;
  flex-flow: row;
  padding-left: 1rem;
}

.biography {
  align-self: center;
  padding-left: 4rem;
}

.social-media {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.team-member img {
  border-radius: 50%;
  max-width: 100px;
}

/* ALL CSS FOR SOLUTIONS PAGE */
.business-plans {
  display: flex;
}

.pricing-banner {
  text-align: center;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
}

.pricing-banner-content {
  position: relative;
}

.pricing-banner-card {
  --flow-space: 0.5em;
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.pricing-banner-features {
  line-height: 1.4;
}

.pricing-banner-title {
  font-size: 1.05em;
  font-weight: 600;
}

.pricing-banner-price {
  font-size: 1.75em;
  font-weight: 700;
}

.pricing-banner-features > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.pricing-banner-cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  outline: 1px solid white;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.pricing-banner-card:hover {
  --lightness: 80%;
  background: #ffffff80;
  color: #000;
  outline: 1px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 80px whitesmoke,
    inset 20px 0 80px rgba(255, 0, 255, 0.747), inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff,
    -10px 0 80px #f0f, 10px 0 80px #0ff;
  transition: all ease-in-out 0.3s;
}

.pricing-banner-card:hover > .pricing-banner-cta {
  outline: none;
  background-color: #0d0d0d;
}

/* ALL CSS FOR FEATURES ALT PAGE */
